@media (min-width: 375px) {
  .Form-input-container #tdLabel {
    top: 18.3rem;
    left: 2.7rem;
  }
  .Form-input-container #irLabel {
    top: 22.25rem;
    left: 10.5rem;
  }
  #payLabel {
    top: 57.1rem;
    left: 6.6rem;
  }
}
@media (min-width: 425px) {
  .Form-input-container #tdLabel {
    top: 18.9rem;
    left: 3rem;
  }
  .Form-input-container #irLabel {
    top: 22.85rem;
    left: 12rem;
  }
  .minium-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .minium-needed {
    margin-top: 0;
    margin-left: 10px;
  }
  #payLabel {
    top: 56.15rem;
    left: 7.5rem;
  }
}
@media (min-width: 768px) {
  .info-view {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
  }
  .Form-container,
  .Display-container {
    margin: 0;
    max-height: 43vh;
  }
  .Form-container {
    max-width: 55vw;
  }
  .Form-input-container #tdLabel {
    top: 16.1rem;
    left: 2.2rem;
  }
  .Form-input-container #irLabel {
    top: 20.1rem;
    left: 18.5rem;
  }
  .Display-container {
    max-width: 40vw;
  }
  .Table-container {
    width: 97vw;
  }
  #payLabel {
    top: 33.6rem;
    left: 14rem;
  }
}
@media (min-width: 1024px) {
  .Form-input-container input {
    max-width: 26vw;
  }
  .Form-input-container #tdLabel {
    left: 2.5rem;
  }
  #payLabel {
    left: 18.8rem;
  }
}
@media (min-width: 1440px) {
  .Info-form {
    font-size: 20px;
  }
  .Form-body,
  .text-container {
    display: flex;
    align-items: center;
  }
  .Form-body {
    justify-content: space-around;
  }
  .Form-input-container input {
    font-size: 20px;
    max-width: 18vw;
  }
  .Form-input-container #tdLabel {
    top: 18.5rem;
    left: 5.75rem;
  }
  .Form-input-container #irLabel {
    top: 18.5rem;
    left: 45.2rem;
  }
  .Info-form-btn {
    margin-left: 45px;
  }
  .Display-container h2,
  .table-header h2 {
    font-size: 28px;
  }
  .text-container {
    justify-content: space-between;
  }
  .display-title,
  .display-num {
    font-size: 22px;
  }
  .minium-text {
    font-size: 23px;
  }
  .pay-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  #payInput {
    font-size: 20px;
    width: 20vw;
  }
  .btn-group .Submit-btn {
    font-size: 17px;
  }
  #payLabel {
    left: 25.9rem;
    font-size: 18px;
  }
  .payment-history th {
    font-size: 25px;
  }
  .payment-history td {
    font-size: 22px;
  }
}
@media (min-width: 1920px) {
  .Info-form {
    font-size: 30px;
  }
  .Form-input-container input,
  #payInput {
    font-size: 25px;
  }
  .Form-input-container input {
    padding: 5px;
    padding-left: 25px;
  }
  .Form-input-container #tdLabel,
  .Form-input-container #irLabel {
    top: 24rem;
  }
  .Form-input-container #tdLabel {
    left: 7.5rem;
  }
  .Form-input-container #irLabel {
    left: 60.2rem;
  }
  .Info-form-btn,
  .btn-group .Submit-btn {
    font-size: 28px;
  }
  .Info-form-btn {
    margin-left: 65px;
  }
  .Display-container h2,
  .table-header h2 {
    font-size: 38px;
  }
  .display-title,
  .display-num {
    font-size: 30px;
    padding-top: 8px;
  }
  .minium-text p {
    font-size: 30px;
    margin-bottom: 10px;
  }
  #payInput {
    padding: 8px;
    padding-left: 25px;
  }
  #payLabel {
    font-size: 28px;
    top: 43.5rem;
    left: 31.3rem;
  }
  .btn-group .Submit-btn:nth-child(1) {
    margin: auto 10px;
  }
  .payment-history th {
    font-size: 34px;
  }
  .payment-history td {
    font-size: 32px;
  }
}
