:root {
  --white-text: #fbfafa;
  --black-text: #050a30;
  --bg-light: #d9c6ff;
  --bg-dark: #1c191a;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #03989e;
  color: var(--white-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
